.clear {
	clear:both;
}
.left {
	float:left;
}
.section {
	display:none;
	padding:20px;
}
#now-playing {
	font-size:24px;
	margin-bottom:30px;
}
#now-playing a {
	color:#eeeeee;
}
#commands {
	margin-bottom:30px;
}
ul {
	list-style: disc;
	margin-left: 20px; 
}
a {
	color:#eeeeee;
}
#search-term {
	width:200px;
}
.examples {
	margin:20px 0;
}
#search-results h2 {
	margin:10px 0 5px;
	color: #999;
	font-weight:bold;
}
#search-results .sp-player {
	float:left;
	margin-right:10px;
}
#search-results .add-playlist {
	margin-top:20px;
}
#search-results .sp-list {
	width:inherit;
	max-height:inherit;
}